<%- include('partials/header') %> 
            <!-- content @s -->
            <div class="nk-content nk-content-fluid">
                <div class="container-xl wide-xl">
                    <div class="nk-content-inner">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">Home - Overview</h3>
                                        <div class="nk-block-des text-soft">
                                            <p>General summary of activities</p>
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                    <div class="nk-block-head-content">
                                        <div class="toggle-wrap nk-block-tools-toggle">
                                            <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-more-v"></em></a>
                                           
                                        </div>
                                    </div><!-- .nk-block-head-content -->
                                </div><!-- .nk-block-between -->
                            </div><!-- .nk-block-head -->
                            <div class="nk-block">
                                <div class="row g-gs">
                                    <div class="col-xxl-12">
                                        <div class="row g-gs">
                                           
                                            <div class="col-lg-12 col-xxl-12">
                                                <div class="row g-gs">
                                                    <div class="col-sm-6 col-lg-6 col-xxl-6">
                                                        <div class="card card-bordered">
                                                            <div class="card-inner">
                                                                <div class="card-title-group align-start mb-2">
                                                                    <div class="card-title">
                                                                        <h6 class="title">Clients</h6>
                                                                    </div>
                                                                    <div class="card-tools">
                                                                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" title="Total active subscription"></em>
                                                                    </div>
                                                                </div>
                                                                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                                                    <div class="nk-sale-data">
                                                                        <!-- <span class="amount">56</span> -->
                                                                        <span class="amount" id="clients-number">
                                                            
                                                                            <div class="spinner-border text-primary" role="status">  <span class="sr-only" ></span>
                                                                            </div>
                                                                            
                                                                           
                                                                        </span>
                                                                    </div>
                                                                    <div class="nk-sales-ck">
                                                                        <canvas class="sales-bar-chart" id="activeSubscription"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- .card -->
                                                    </div><!-- .col -->
                                                    <div class="col-sm-6 col-lg-6 col-xxl-6">
                                                        <div class="card card-bordered">
                                                            <div class="card-inner">
                                                                <div class="card-title-group align-start mb-2">
                                                                    <div class="card-title">
                                                                        <h6 class="title">Team</h6>
                                                                    </div>
                                                                    <div class="card-tools">
                                                                        <em class="card-hint icon ni ni-help-fill" data-bs-toggle="tooltip" data-bs-placement="left" title="Daily Avg. subscription"></em>
                                                                    </div>
                                                                </div>
                                                                <div class="align-end flex-sm-wrap g-4 flex-md-nowrap">
                                                                    <div class="nk-sale-data">
                                                                        <span class="amount" id="team-number">
                                                            
                                                                            <div class="spinner-border text-primary" role="status">  <span class="sr-only" ></span>
                                                                            </div>
                                                                            
                                                                           
                                                                        </span>
                                                                       
                                                                    </div>
                                                                    <div class="nk-sales-ck">
                                                                        <canvas class="sales-bar-chart" id="totalSubscription"></canvas>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div><!-- .card -->
                                                    </div><!-- .col -->
                                                </div><!-- .row -->
                                            </div><!-- .col -->
                                        </div><!-- .row -->
                                    </div><!-- .col -->
                                  
                                   
                                    <div class="col-md-6 col-xxl-4">
                                        <div class="card card-bordered card-full">
                                            <div class="card-inner-group">
                                                <div class="card-inner">
                                                    <div class="card-title-group">
                                                        <div class="card-title">
                                                            <h6 class="title">Recent Clients</h6>
                                                        </div>
                                                        <div class="card-tools">
                                                            <a href="clients.html" class="link">View All</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% if(clients.length > 0){ %>
                                                    <% clients.forEach((client, index) =>{ %>
                                                        <div class="card-inner card-inner-md">
                                                            <div class="user-card">
                                                                <div class="user-avatar bg-primary-dim">
                                                                    <span><%=client.fullNames?.firstname.slice(0, 1).toUpperCase()%><%=client.fullNames?.lastname.slice(0, 1).toUpperCase()%></span>
                                                                </div>
                                                                <div class="user-info">
                                                                    <span class="lead-text"><%=client.fullNames?.firstname%> <%=client.fullNames?.lastname%></span>
                                                                    <span class="sub-text"><%=client.organization?.name%></span>
                                                                </div>
                                                                <div class="user-action">
                                                                    <div class="drodown">
                                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger me-n1" data-bs-toggle="dropdown" aria-expanded="false"><em class="icon ni ni-more-h"></em></a>
                                                                        <div class="dropdown-menu dropdown-menu-end">
                                                                            <ul class="link-list-opt no-bdr">
                                                                                <li><a href="#"><em class="icon ni ni-user-alt"></em><span>View Client</span></a></li>
                                    
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <%})%>
                                                <%} else {%>
                                                    <div class="card-inner card-inner-md">
                                                        <div class="user-card">
                                                           <p>You havent created any clients yet</p>
                                                        </div>
                                                     </div>
                                                <%}%>
                                               
                                               
                                            </div>
                                        </div><!-- .card -->
                                    </div><!-- .col -->
                                      
                                    <div class="col-md-6 col-xxl-4">
                                        <div class="card card-bordered card-full">
                                            <div class="card-inner-group">
                                                <div class="card-inner">
                                                    <div class="card-title-group">
                                                        <div class="card-title">
                                                            <h6 class="title">Team Members</h6>
                                                        </div>
                                                        <div class="card-tools">
                                                            <a href="team.html" class="link">View All</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <% if(team.length > 0){ %>
                                                    <% team.forEach((admin, index) =>{ %>
                                                        <div class="card-inner card-inner-md">
                                                            <div class="user-card">
                                                                <div class="user-avatar bg-warning-dim">
                                                                    <span><%=admin.fullNames?.firstname.slice(0, 1).toUpperCase()%><%=admin.fullNames?.lastname.slice(0, 1).toUpperCase()%></span>
                                                                </div>
                                                                <div class="user-info">
                                                                    <span class="lead-text"><%=admin.fullNames?.firstname%> <%=admin.fullNames?.lastname%></span>
                                                                    <span class="sub-text"><%=admin.username%></span>
                                                                </div>
                                                                <div class="user-action">
                                                                    <div class="drodown">
                                                                        <a href="#" class="dropdown-toggle btn btn-icon btn-trigger me-n1" data-bs-toggle="dropdown" aria-expanded="false"><em class="icon ni ni-more-h"></em></a>
                                                                        <div class="dropdown-menu dropdown-menu-end">
                                                                            <ul class="link-list-opt no-bdr">
                                                                                <li><a href="#"><em class="icon ni ni-user-alt"></em><span>View User</span></a></li>
                                    
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    <%})%>
                                                <%} else {%>
                                                    <div class="card-inner card-inner-md">
                                                        <div class="user-card">
                                                           <p>You havent created any team members yet</p>
                                                        </div>
                                                     </div>
                                                <%}%>
                                            </div>
                                        </div><!-- .card -->
                                    </div><!-- .col -->
                                   
                                </div><!-- .row -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- content @e -->
            <%- include('partials/footer') %> 
        </div>
        <!-- wrap @e -->
    </div>
    <!-- app-root @e -->
   
    <!-- JavaScript -->
    <script src="../assets/js/bundle.js?ver=3.0.3"></script>
    <script src="../assets/js/scripts.js?ver=3.0.3"></script>
    <script src="../assets/js/charts/gd-default.js?ver=3.0.3"></script>

    <script>
        
const teamContainer = document.getElementById('team-number')
const clientContainer = document.getElementById('clients-number')


async function getDashboardSummary(){
    const response = await fetch('/dashboard-summary')
    if(response.status === 200){
        const summary = await response.json();
        return summary
    }else{
        const summary = null
        return summary
    }
    
}


getDashboardSummary().then(summary =>{
    if(summary){
        teamContainer.innerText = summary.team
        clientContainer.innerText = summary.clients
    }else{
        
    }
})


    </script>
</body>

</html>