<div class="card-aside card-aside-left user-aside toggle-slide toggle-slide-left toggle-break-lg" data-toggle-body="true" data-content="userAside" data-toggle-screen="lg" data-toggle-overlay="true">
    <div class="card-inner-group" data-simplebar>
        <div class="card-inner">
            <div class="user-card">
                <div class="user-avatar bg-primary">
                    <span class="text-white"><%=clients.fullNames?.firstname?.slice(0, 1).toUpperCase()%><%=clients.fullNames?.lastname?.slice(0, 1).toUpperCase()%></span>
                </div>
                <div class="user-info">
                    <span class="lead-text"><%=clients.fullNames?.firstname %> <%=clients.fullNames?.lastname %></span>
                    <span class="sub-text"><%= clients.username %></span>
                </div>
               
            </div><!-- .user-card -->
        </div><!-- .card-inner -->
       
        <div class="card-inner p-0">
            <ul class="link-list-menu">
                <li><a class="active" href="/view-client/<%=clients._id%>"><em class="icon ni ni-user-fill-c"></em><span>Account Infomation</span></a></li>

                <li><a href="/view-databox/<%=clients._id%>"><em class="icon ni ni-chart-up"></em><span>Databox </span></a></li>

                <li><a href="datastudiosettings.html"><em class="icon ni ni-chart-up"></em></em><span>Datastudio</span></a></li>

                <li><a href="portermetricssettings.html"><em class="icon ni ni-chart-up"></em><span>Portermetrics</span></a></li>

                <li><a href="/charity-navigator/<%=clients._id%>"><em class="icon ni ni-chart-up"></em><span>Charity Navigator</span></a></li>

                <li><a href="portermetricssettings.html"><em class="icon ni ni-chart-up"></em><span>Buzz Sumo</span></a></li>

                <li><a href="portermetricssettings.html"><em class="icon ni ni-chart-up"></em><span>Similar Web</span></a></li>

                <li><a href="clientsettings.html"><em class="icon ni ni-lock-alt-fill"></em><span>Security Settings</span></a></li>
               
            </ul>
        </div><!-- .card-inner -->
    </div><!-- .card-inner-group -->
</div><!-- card-aside -->